<md-list-item class="md-2-line">
   <div class="md-list-item-text" layout="row" layout-align="start center">
     <span class="fila-usuario" flex="5">{{$ctrl.oneUser.id}}</span>
     <span class="fila-usuario" flex="10">{{$ctrl.oneUser.name}}</span>
     <span class="fila-usuario" flex="10">{{$ctrl.oneUser.lastname}}</span>
     <span class="fila-usuario" flex="30">{{$ctrl.oneUser.email}}</span>
     <span class="fila-usuario" flex="10">{{$ctrl.oneUser.password}}</span>
   </div>
</md-list-item>